[submodule "external/CUE4Parse"]
	path = external/CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse.git
[submodule "external/CUE4Parse-FortniteTypes"]
	path = external/CUE4Parse-FortniteTypes
	url = https://github.com/BanjoByTheBay/CUE4Parse-FortniteTypes.git
